.cart-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100px;
  background: rgb(200, 200, 200, 0.3);
  border-radius: 3px;
  transition: all 0.2s ease;
  margin-bottom: 0.75rem;
  padding: 0.8rem;
}

.cart-list-item:hover {
  box-shadow: 4px 4px 8px rgb(200, 200, 200, 1);
  transform: translateX(-2px) translateY(-2px);
}

.product-info {
  margin: 0;
  width: 70%;
  height: 100%;
  min-width: 45%;
}

.product-info select {
  padding: 0.2rem;
  margin-left: 0.5rem;
  outline: none;
  border-radius: 3px;
}

.cart-product-img {
  margin-right: 0.5rem;
  width: 90px;
  height: 100%;
  min-width: 60px;
  min-height: 60px;
  margin-right: 0.5rem;
}

.cart-product-img img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.cart-product-buttons {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 0.5rem;
  min-width: 45px;
}

.cart-product-buttons .remove-button {
  cursor: pointer;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 3px;
  color: black;
  background: rgb(250, 40, 40, 0.8);
  transition: all 0.2s ease;
}

.cart-product-buttons .move-wishlist-button {
  cursor: pointer;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 3px;
  color: black;
  background: rgb(100, 70, 255, 0.85);
  transition: all 0.2s ease;
}

.cart-product-buttons .remove-button:hover {
  background: rgb(250, 40, 40, 0.9);
  color: white
}

.cart-product-buttons .move-wishlist-button:hover {
  background: rgb(100, 70, 255, 1);
  color: white
}
