.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgb(200, 200, 200, 0.5);
  z-index: 10;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  border-radius: 5px;
  width: 50%;
  height: 70%;
  background: white;
  padding: 1rem;
}

.cart-items {
  border: 1px solid blue;
  width: 90%;
  max-width: 90%;
  height: 90%;
  max-height: 90%;
}

.checkout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border: none;
  background: rgb(255, 190, 0, 0.8);
  border-radius: 3px;
  padding: 0.75rem;
  width: 175px;
  transition: all 0.2s ease;
  color: black;
  margin-top: 1rem;
}

.checkout-button:hover {
  cursor: pointer;
  background: rgb(255, 190, 0, 1);
  width: 200px;
}