.submit-button {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  width: 200px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  margin-top: 1rem;
  background: rgb(100, 70, 255, 0.85);
  color: white;
  transition: all 0.2s ease;
}

.submit-button:hover {
  background: rgb(100, 70, 255, 1);
  width: 99%;
}